<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Header -->
    <div class="bg-card ">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <!-- Title -->
            <div>
                <div class="ml-0.5 mt-8 mb-8 ">
                    <div class="text-4xl font-extrabold tracking-tight leading-none">Your Projects</div>
                    <div class="flex items-center mt-0.5 font-medium text-secondary">
                        <ng-container>
                            {{projectsNumber}} projects
                        </ng-container>
                    </div>


                    <!-- Main actions -->
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field
                                class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input matInput (input)="filterByQuery(query.value)" [placeholder]="'Search projects'"
                                    #query>
                            </mat-form-field>
                        </div>
                        <!-- Add contact button -->
                        <button *ngIf="userRole == 'Manager'" class="ml-4 bg-accent-800" mat-flat-button [color]="'accent'"
                            (click)="addProjectModal()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">New project</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Project selector -->
            <div class="relative flex self-start pt-2 pb-1 pl-5 pr-4 cursor-pointer overflow-hidden rounded-t-xl border border-b-0 bg-default"
                matRipple>
                <div class="flex items-center">
                    <div class="overflow-hidden">
                        <mat-select [value]="'all'" (selectionChange)="filterByStatus($event)">
                            <mat-option [value]="'all'">All Projects<span></span></mat-option>
                            <ng-container>
                                <mat-option *ngFor="let status of projectStatusList" [value]="status.statusName">
                                    {{status.statusName}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </div>


                </div>
            </div>

        </div>
    </div>


    <!-- Main -->
    <div class="flex flex-auto p-2 sm:p-4">

        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto"
            *ngIf="filteredProjects.length; else noProjects">
            <!-- Filters -->
            <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">

            </div>
            <!-- Projects -->
            <ng-container>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
                    <ng-container *ngFor="let project of currentPageData">

                        <!-- Projects -->
                        <div class="flex flex-col max-h-70 h-65 shadow rounded-3xl overflow-hidden bg-card 
                        shadow overflow-hidden bg-card hover:shadow-2xl transition-shadow duration-200 ease-in-out">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <!-- Project Owner -->
                                    <ng-container>
                                        <div *ngIf="projectDepartement == 'Java'" class="py-0.5 px-3 rounded-full text-sm font-semibold"
                                            [ngClass]="{'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500': project.owner != 									''}">
                                            {{project.owner}}
                                        </div>

                                        <div *ngIf="projectDepartement == '.Net'" class="py-0.5 px-3 rounded-full text-sm font-semibold"
                                            [ngClass]="{'text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500': project.owner != 									''}">
                                            {{project.owner}}
                                        </div>

                                        <div *ngIf="projectDepartement == 'Salesforce'" class="py-0.5 px-3 rounded-full text-sm font-semibold"
                                            [ngClass]="{'text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500': project.owner != 									''}">
                                            {{project.owner}}
                                        </div>

                                        <div *ngIf="projectDepartement == 'Data'" class="py-0.5 px-3 rounded-full text-sm font-semibold"
                                            [ngClass]="{'text-yellow-800 bg-yellow-100 dark:text-yellow-50 dark:bg-yellow-500': project.owner != 									''}">
                                            {{project.owner}}
                                        </div>

                                        <div *ngIf="projectDepartement == 'Testing'" class="py-0.5 px-3 rounded-full text-sm font-semibold"
                                            [ngClass]="{'text-red-800 bg-red-100 dark:text-red-50 dark:bg-red-500': project.owner != 									''}">
                                            {{project.owner}}
                                        </div>

                                        <div *ngIf="projectDepartement == 'Web'" class="py-0.5 px-3 rounded-full text-sm font-semibold"
                                            [ngClass]="{'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': project.owner != 									''}">
                                            {{project.owner}}
                                        </div>

                                        <div *ngIf="projectDepartement == 'Innovation Factory'" class="py-0.5 px-3 rounded-full text-sm font-semibold"
                                            [ngClass]="{'text-purple-800 bg-purple-100 dark:text-purple-50 dark:bg-purple-500': project.owner != 									''}">
                                            {{project.owner}}
                                        </div>



                                    </ng-container>
                                    <!-- Completed at least once -->
                                    <div class="flex items-center">
                                        <ng-container *ngIf="project.projectStatus.statusName == 'Created'">
                                            <button mat-icon-button [matMenuTriggerFor]="actions"><mat-icon matTooltip="Created" class="icon-size-5 text-600"
                                                [svgIcon]="'heroicons_solid:badge-check'">project.reference</mat-icon></button>
                                        </ng-container>
                                        <ng-container *ngIf="project.projectStatus.statusName == 'Completed'">
                                            <button mat-icon-button><mat-icon matTooltip="Completed" class="icon-size-5 text-green-600"
                                                [svgIcon]="'heroicons_solid:badge-check'">project.reference</mat-icon></button>
                                        </ng-container>
                                        <ng-container *ngIf="project.projectStatus.statusName == 'In Progress'">
                                            <button mat-icon-button [matMenuTriggerFor]="actions"><mat-icon matTooltip="In Progress" class="icon-size-5 text-yellow-600"
                                                [svgIcon]="'heroicons_solid:badge-check'">project.reference</mat-icon></button>
                                        </ng-container>
                                        <mat-menu #actions="matMenu">
                                            <button mat-menu-item *ngIf="userRole=== 'Manager' && project.projectStatus.statusName == 'In Progress'" 
                                                (click)="changeProjetStatus(project.idProject,'Completed')">
                                                <mat-icon class="icon-size-4 text-primary"
                                                [svgIcon]="'heroicons_solid:check-circle'"></mat-icon><span>Complete Project</span></button>
                                            <button mat-menu-item *ngIf="userRole=== 'Manager' && project.projectStatus.statusName == 'Created'"
                                            (click)="changeProjetStatus(project.idProject,'In Progress')"><mat-icon 
                                                class="icon-size-4 text-green-700"
                                                [svgIcon]="'heroicons_solid:fast-forward'"></mat-icon><span>Start Project</span></button>
                                        </mat-menu>
                                    </div>
                                </div>

                                <!-- Project Title -->
                                <div class="mt-2 text-lg font-medium cursor-pointer ">

                                    <div (click)="detailProjectPage(project.idProject)">
                                        {{project.title}}
                                    </div>

                                </div>
                                <div (click)="detailProjectPage(project.idProject)" class="mt-2 line-clamp-4 text-secondary cursor-pointer">
                                        {{project.description}}
                                </div>
                                <div class="w-53 h-1 my-2 border-t-2" (click)="detailProjectPage(project.idProject)"></div>

                                <!-- Project Date Creation -->
                                <div class="flex items-center leading-5 text-md text-secondary">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                    <div class="ml-1.5" (click)="detailProjectPage(project.idProject)">
                                            {{project.dateCreation}}
                                        &nbsp;-&nbsp;
                                            {{project.endDate}}
                                    </div>
                                </div>
                                <!-- Project Reference -->
                                <div class="flex items-center mt-2 leading-5 text-md text-secondary">
                                    <mat-icon class="icon-size-5 text-hint" [svgIcon]="'mat_solid:loyalty'"></mat-icon>
                                    <div class="ml-1.5" (click)="detailProjectPage(project.idProject)">
                                            {{project.reference}}
                                        </div>
                                </div>
                            </div>
                            <!-- Footer -->
                            <div class="flex flex-col w-full mt-auto">

                                <!-- Course launch button -->
                                <div class="flex flex-row 
                                w-full mt-auto px-6 py-4 text-right bg-gray-50 dark:bg-transparent">

                                    <mat-icon [matTooltip]="'Details'" mat-icon-button
                                        (click)="detailsProjectModal(project.idProject)"
                                        class="flex-1  icon-size-5 cursor-pointer">view_list</mat-icon>

                                    <mat-icon [matTooltip]="'Members'" (click)="showMembersModal(project.idProject)"
                                        class="flex-1  icon-size-5 cursor-pointer"
                                        svgIcon="heroicons_outline:user-group"></mat-icon>

                                    <mat-icon *ngIf="userRole == 'Manager'" [matTooltip]="'Edit'" mat-icon-button
                                        (click)="editProjectModal(project.idProject)"
                                        class="flex-1  icon-size-5 cursor-pointer"
                                        svgIcon="heroicons_outline:pencil-alt"></mat-icon>

                                    <mat-icon *ngIf="userRole == 'Manager'" [matTooltip]="'Delete'" mat-icon-button
                                        (click)="deleteProject(project.idProject)"
                                        class="flex-1  cursor-pointer icon-size-5">delete</mat-icon>


                                </div>
                            </div>
                        </div>


                    </ng-container>
                </div>
            </ng-container>

        </div>

        <!--<ng-template #noProjects>
            <div class="p-8 sm:p-16  text-4xl font-semibold tracking-tight text-center">There are no projects!
            </div>
        </ng-template>-->

        <ng-template #noProjects>
            <div class="p-8 sm:p-16  text-4xl font-semibold tracking-tight text-center">
            </div>
        </ng-template>
    </div>
    <mat-paginator [length]="filteredProjects.length" [(pageSize)]="itemsPerPage"  [pageSizeOptions]="[3, 6]" (page)="onPageChange($event)"
        class="flex justify-center sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent">
    </mat-paginator>

</div>