<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div class="flex-1 min-w-0">
            <!--<h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                {{board.title}}
            </h2>-->
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                Scrumboard
            </h2>
        </div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <a mat-stroked-button (click)="goBack()">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:view-grid'"></mat-icon>
                Sprints
            </a>

            <!--
            <button
                class="ml-3"
                mat-stroked-button>
                <mat-icon
                    class="icon-size-5 mr-2"
                    [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                Settings
            </button>-->
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-8 sm:pt-4 overflow-y-auto" cdkScrollable>

        <!-- Lists -->
        <div class="flex" cdkDropList [cdkDropListData]="workflowItems" [cdkDropListOrientation]="'horizontal'"
            (cdkDropListDropped)="listDropped($event)">

            <!-- Group all cdkDropList's after this point together so that the cards can be transferred between lists -->
            <div class="flex items-start" cdkDropListGroup>

                <!-- List -->
                <ng-container *ngFor="let workflow of workflowItems;let indexOfelement2=index; trackBy: trackByFn">
                    <div class="flex-0 w-80 p-2 rounded-2xl bg-default" cdkDrag [cdkDragLockAxis]="'x'">

                        <div class="flex items-center justify-between" cdkDragHandle>
                            <div class="flex items-center w-full py-2 px-3 rounded-md cursor-text 
                            border border-transparent focus-within:bg-white focus-within:shadow-sm 
                            focus-within:border-primary dark:focus-within:bg-gray-900">

                                <label class="uppercase text-medium text-gray-700 font-semibold">
                                    {{workflow.name}}&nbsp;<label *ngIf="workflow.tickets.length>0">
                                        {{workflow.tickets.length}}&nbsp;{{workflow.tickets.length >1 ? 'Tickets' :
                                        'Ticket'}}
                                    </label></label>

                            </div>



                            <div class="ml-1">
                                <button class="w-8 h-8 min-h-8" mat-icon-button [matMenuTriggerFor]="listMenu">
                                    <mat-icon class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                </button>
                                <mat-menu #listMenu="matMenu">
                                    <button mat-menu-item
                                        (click)="renameWorkflowItemModal(workflow.name,workflow.idWorkflowItem)">
                                        <mat-icon class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                        Rename list
                                    </button>
                                    <button mat-menu-item (click)="workflow.idWorkflowItem == workflowItems[0].idWorkflowItem ? 
                                    deleteWorkflowItem(workflow.idWorkflowItem,workflowItems[1].idWorkflowItem):
                                    deleteWorkflowItem(workflow.idWorkflowItem,workflowItems[0].idWorkflowItem)">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                        Delete list
                                    </button>
                                </mat-menu>
                            </div>
                        </div>

                        <!-- Cards -->
                        <div
                            class="mt-2 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border cursor-pointer">
                            <div [id]="workflow.idWorkflowItem" class="p-3 pb-0" cdkDropList
                                [cdkDropListData]="workflow.tickets" (cdkDropListDropped)="cardDropped($event)">


                                <ng-container
                                    *ngFor="let ticket of workflow.tickets; let indexOfelement=index; trackBy: trackByFn">
                                    <a class="flex flex-col items-start mb-3 p-5 space-y-3 shadow rounded-lg overflow-hidden bg-card"
                                        [cdkDragData]="ticket" cdkDrag>

                                        <div class="text-lg font-medium leading-5">{{ticket.name}}</div>

                                        <ng-container>
                                            <div>
                                                <div class="flex flex-wrap -mx-1 -mb-2">
                                                    <ng-container>
                                                        <div
                                                            class=" uppercase mx-1 mb-2 py-0.5 px-1 rounded text-sm font-bold text-indigo-900 bg-purple-100 ">
                                                            {{ticket.epic.name}}
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container>

                                        <div class="flex items-center justify-between">

                                            <div class="flex-1">
                                                <ng-container *ngIf="ticket.ticketType.name == 'Story' ">
                                                    <mat-icon class="icon-size-5 text-current text-green-600"
                                                        [svgIcon]="'heroicons_solid:bookmark-alt'"></mat-icon>
                                                </ng-container>

                                                <ng-container *ngIf="ticket.ticketType.name == 'Task' ">
                                                    <mat-icon class="icon-size-4 text-current text-blue-400"
                                                        [svgIcon]="'heroicons_solid:clipboard-check'"></mat-icon>
                                                </ng-container>

                                                <ng-container *ngIf="ticket.ticketType.name == 'Bug' ">
                                                    <mat-icon class="icon-size-4 text-current text-red-600"
                                                        [svgIcon]="'heroicons_solid:chip'"></mat-icon>
                                                </ng-container>

                                            </div>

                                            <div class="flex flex-0 text-base font-medium items-center justify-center w-10 h-6 mb-1
                                             text-gray-500 mr-26">
                                                TK-{{indexOfelement+1}}
                                            </div>

                                            <div class="flex flex-0 items-center justify-center w-6 h-5 mb-1 mr-3 text-sm
                                            rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent 
                                            bg-gray-200 text-gray-800">
                                                {{ticket.estimation}}
                                            </div>



                                            <ng-container *ngIf="ticketAssignment?.length">

                                                
                                                    <ng-container *ngFor="let assignment of ticketAssignment;">
                                                        <div *ngIf="assignment.ticket.idTicket==ticket.idTicket">

                                                            <img *ngIf="!assignment.user.data" class="flex-0 w-8 h-8 
                                                                rounded-full ring ring-offset-1 ring-bg-card 
                                                                ring-offset-transparent object-cover" [src]="sanitizedImageUrl">


                                                            <img *ngIf="assignment.user.data && assignment.ticketAssignmentRole.role=='Primary'" 
                                                                class="flex-0 w-7 h-7 rounded-full mb-1 ring ring-offset-1 ring-bg-card 
                                                                ring-offset-transparent object-cover"
                                                                [src]="'data:image/png;base64,' + assignment.user.data">


                                                            <img *ngIf="assignment.user.data && assignment.ticketAssignmentRole.role=='Secondary'"
                                                                class="flex-0 w-7 h-7 rounded-full mb-1 ring ring-offset-2 ring-bg-card 
                                                                ring-offset-transparent object-cover"
                                                                [src]="'data:image/png;base64,' + assignment.user.data">

                                                        </div>

                                                    </ng-container>

                                                

                                            </ng-container>

                                        </div>

                                    </a>
                                </ng-container>
                            </div>


                            <scrumboard-board-add-card (saved)="addCard(list, $event)" [buttonTitle]="'Add a card'">
                            </scrumboard-board-add-card>
                        </div>
                    </div>
                </ng-container>

                <!-- New list -->
                <scrumboard-board-add-list (saved)="addList($event)"
                    [buttonTitle]="board.lists.length ? 'Add another list' : 'Add a list'">
                </scrumboard-board-add-list>

            </div>

        </div>

    </div>

</div>

<!-- Invisible router-outlet for ScrumboardCard component -->
<div class="absolute invisible w-0 h-0 opacity-0 pointer-events-none">
    <router-outlet></router-outlet>
</div>